*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-container{
    display: flex;
    flex-flow: column;
    background: url(images/hack_2.jpg);
    background-size: cover;
    background-origin: border-box;
}
.brand{
    display: flex;
    justify-content: space-between;
    background: repeating-linear-gradient(90deg,black,transparent 0px);
    font-family: monospace;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 5px 0 0 2px;
}
.brand-name{
    padding-left: 2px;

}
.brand-name-item{
    color: snow;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-nav{
    display: flex;
    justify-content: end;
    width: calc(100% - 238px);
}
.main-nav-list{

}
.main-nav-list-items{
    display: inline-block;
    background: repeating-linear-gradient(90deg,black,transparent 0px);
    padding: 10px;
    border-radius: 3px;
}
.main-nav-list-items-home{
    padding: 10px 27px;
}
.main-nav-list-items-service{
    padding: 10px 10.5px;
}
.main-nav-list-items-signUp{
    margin-right: 2px;
    padding: 10px 16px
}
.main-nav-list-items a{ 
    text-decoration: none;
    color: snow;
    font-size: x-large;
}
.main-nav-list-items:hover{
    background: repeating-linear-gradient(90deg,snow,transparent 1px); 
    /* background: #1f9034; */

}
.main-nav-list-items a:hover{
    color: rgb(46, 44, 44);
}
.login{
    display: flex;
    justify-content: space-between;
    height: 1100px;
    margin-top: 0;
    background: repeating-linear-gradient(90deg,black,transparent 1px);
    flex-flow: column;
}
.login-form{
    width: 100%;
    height: 1000px;
    margin: auto;
    padding: 200px 0;
}
.login-profile{
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: column;
    border: 1px solid transparent;
    justify-content: center;
    height: 500px;
    background: repeating-linear-gradient(90deg,black,transparent 0px);
    border-radius: 10px;
    margin-bottom: 140px;
}
.login-container{
    display: flex;
    width: 50%;
    flex-flow: column;
    justify-content: center;
    margin: auto;
}
.login-header {
    font-size: xx-large;
    text-align: center;
    color: snow;
    text-shadow: 1px 1px snow;
    font-family: sans-serif;
}
.social-buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    width: 60%;
    margin: auto;
}
.social-buttons figure{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;

}
.social-buttons figure img{
    background: snow;
    border-radius: 20%;
}
.or-line {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    max-width: 350px;
    color: snow;
    padding-bottom: 20px;
}
.or-line hr{
    flex: 1;
}
.or-line .or-text{
    margin: 0px 5px;
}
.login-list{
    background: repeating-linear-gradient(90deg,black,transparent 1px);
    border-radius: 8px;
    border: 0px solid transparent;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 60%
}
.login-submit{
    background: repeating-linear-gradient(90deg,black,transparent 1px);
    text-align: center;
    margin: auto;
    width: 30%;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 8px 0;
}
.login-submit a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.login-profile:hover{
    background: repeating-linear-gradient(90deg,black,transparent 1px);
    border: 1px solid transparent;
} 
.login-profile:hover .login-list{
    background: repeating-linear-gradient(90deg,black,transparent 1px);
}
.login-profile:hover .login-submit{
    background: repeating-linear-gradient(90deg,black,transparent 1px);
}
.login-container:hover .login-list:hover{
    background: snow;
    border: 0px transparent snow;
} 
.login-container:hover .login-submit:hover{
    background: white;
    border: 0px transparent snow;
}
.login-profile:hover .login-list:active{
    border: 0px solid snow;
}
.about{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: inherit;
    flex-flow: column;
    margin: auto 0px auto auto;
    padding: 0px;
    background: repeating-linear-gradient(90deg,black,transparent 1px);
}
.social-networks-header{
    display: flex;
    justify-content: start; 
}
.social-networks-header b{
    font-size: xx-large;
    text-align: center;
    color: snow;
    text-shadow: 1px 1px snow;
    font-family: monospace;  
}
.social-network-items{
    display: flex;
    justify-content: start;
    flex-flow: column;
}
.about-social-networks{
    display: flex;
    justify-content: flex-start;
    margin: 5px 2px 5px 5px;
}
.about-social-networks img{
    width: 30px;
    height: 30px;
}
.social-networks-handles{
    color: whitesmoke;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 0px 10px ;
    padding-top: 7px;
}
.social-networks-handles a{
    color: grey;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social-networks-handles a:hover{
    color: whitesmoke;
}

